<template>
    <div>
        <success v-if="success">Congratulations on your purchase!</success>
        <div class="row" v-else>
            <div class="col-md-8" v-if="itemsInBasket">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="first_names">First names</label>
                        <input
                            type="text"
                            class="form-control"
                            name="first_names"
                            v-model="customer.first_names"
                            :class="[
                                {
                                    'is-invalid': this.errorFor('customer.first_names'),
                                },
                            ]"
                        />
                        <v-errors :errors="errorFor('customer.first_names')"></v-errors>
                    </div>

                    <div class="col-md-6 form-group">
                        <label for="last_name">Last name</label>
                        <input
                            type="text"
                            class="form-control"
                            name="last_name"
                            v-model="customer.last_name"
                            :class="[
                                {
                                    'is-invalid': this.errorFor('customer.last_name'),
                                },
                            ]"
                        />
                        <v-errors :errors="errorFor('customer.last_name')"></v-errors>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label for="email">Email</label>
                        <input
                            type="text"
                            class="form-control"
                            name="email"
                            v-model="customer.email"
                            :class="[
                                {
                                    'is-invalid': this.errorFor('customer.email'),
                                },
                            ]"
                        />
                        <v-errors :errors="errorFor('customer.email')"></v-errors>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="address">Address</label>
                        <input
                            type="text"
                            class="form-control"
                            name="address"
                            v-model="customer.address"
                            :class="[
                                {
                                    'is-invalid': this.errorFor('customer.address'),
                                },
                            ]"
                        />
                        <v-errors :errors="errorFor('customer.address')"></v-errors>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="city">City</label>
                        <input
                            type="text"
                            class="form-control"
                            name="city"
                            v-model="customer.city"
                            :class="[
                                {
                                    'is-invalid': this.errorFor('customer.city'),
                                },
                            ]"
                        />
                        <v-errors :errors="errorFor('customer.city')"></v-errors>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 form-group">
                        <label for="country">Country</label>
                        <input
                            type="text"
                            class="form-control"
                            name="country"
                            v-model="customer.country"
                            :class="[
                                {
                                    'is-invalid': this.errorFor('customer.country'),
                                },
                            ]"
                        />
                        <v-errors :errors="errorFor('customer.country')"></v-errors>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="state">State/County</label>
                        <input
                            type="text"
                            class="form-control"
                            name="state"
                            v-model="customer.state"
                            :class="[
                                {
                                    'is-invalid': this.errorFor('customer.state'),
                                },
                            ]"
                        />
                        <v-errors :errors="errorFor('customer.state')"></v-errors>
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="zip">Zip</label>
                        <input
                            type="text"
                            class="form-control"
                            name="zip"
                            v-model="customer.zip"
                            :class="[
                                {
                                    'is-invalid': this.errorFor('customer.zip'),
                                },
                            ]"
                        />
                        <v-errors :errors="errorFor('customer.zip')"></v-errors>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12 form-group">
                        <button
                            type="submit"
                            class="btn btn-lg btn-primary btn-block"
                            @click.prevent="book"
                            :disabled="loading"
                        >
                            Book Now!
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-8" v-else>
                <div class="jumbotron jumbotron-fluid text-center">
                    <h1>Empty</h1>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex justify-content-between">
                    <h6 class="text-uppercase text-secondary font-weight-bolder">
                        Your Cart
                    </h6>
                    <h6 class="text-uppercase badge badge-secondary">
                        <span v-if="itemsInBasket">Items {{ itemsInBasket }}</span>
                        <span v-else>Empty</span>
                    </h6>
                </div>
                <transition-group name="fade">
                    <div v-for="item in basket" :key="item.bookable.id">
                        <div class="pt-2 pb-2 border-top d-flex justify-content-between">
                            <span>
                                <router-link
                                    :to="{
                                        name: 'bookable',
                                        params: { id: item.bookable.id },
                                    }"
                                >
                                    {{ item.bookable.title }}
                                </router-link>
                            </span>
                            <span class="font-weight-bold">€{{ item.price.total }}</span>
                        </div>
                        <div class="pt-2 pb-2 d-flex justify-content-between">
                            <span>From {{ item.dates.from }}</span>
                            <span>To {{ item.dates.to }}</span>
                        </div>
                        <div class="pt-2 pb-2 text-right">
                            <button
                                class="btn btn-sm btn-outline-secondary"
                                @click="$store.dispatch('removeFromBasket', item.bookable.id)"
                            >
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </div>
                    </div>
                </transition-group>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapState, mapGetters } from "vuex";
    import validationErrors from "./../shared/mixins/validationErrors";

    export default {
        mixins: [validationErrors],
        data() {
            return {
                customer: {
                    first_names: null,
                    last_name: null,
                    email: null,
                    address: null,
                    city: null,
                    country: null,
                    state: null,
                    zip: null,
                },
                loading: false,
                bookingAttempted: false,
            };
        },
        methods: {
            async book() {
                this.loading = true;
                this.bookingAttempted = false;
                this.errors = null;

                try {
                    await axios.post(`/api/checkout`, {
                        customer: this.customer,
                        bookings: this.basket.map(basketItem => ({
                            bookable_id: basketItem.bookable.id,
                            from: basketItem.dates.from,
                            to: basketItem.dates.to,
                        })),
                    });
                    this.$store.dispatch("clearBasket");
                } catch (err) {
                    this.errors = err.response && err.response.data.errors;
                }

                this.loading = false;
                this.bookingAttempted = true;
            },
        },
        computed: {
            ...mapGetters(["itemsInBasket"]),
            ...mapState({
                basket: state => state.basket.items,
            }),
            success() {
                return !this.loading && this.itemsInBasket === 0 && this.bookingAttempted;
            },
        },
    };
</script>

<style scoped>
    h6.badge {
        font-size: 100%;
    }

    a {
        color: black;
    }
</style>
